/* Common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
}
/* Header style start */
#header{
    width: 100%;
    height: 500px;
    background-color: #FFF6E6 ;
    display: flex;
    align-items: center;
    padding: 0 50px;
    
}
.orange-text{
    color: orange;
}
.header-title{
    width: 50%;

}
.header-img{
    width: 50%;
}
.header-img img{
    width: 100%;
}
.btn{
    text-decoration: none;
    background-color: #FF8235;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFF;
}
.btn:hover{
    background-color: orangered;
}

/* Header style end */


/* services-section style  start*/
.services-section-container{
    display: flex;
    justify-content: space-evenly;
}
#services-section{
    width: 100%;
    margin: 20px auto;
}
.service-box{
    width: 30%;
    background-color: #FFF6E6 ;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.service-icon{
    width: 30%;
}
.service-icon img{
    width: 100%;
    padding: 10px;
}
.service-text{
    width: 70%;
}
/* services-section style  start*/
